body {
    margin-left: 20%;
    margin-right: 20%;
}

.jumbotron {
    height: 15%;
    padding: 20px;
    text-align: center;
}

.mainTitle {
    text-align: center;
}

.card2 {
    margin-top: 35px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.lead {
    font-size: 28px;
}

.row {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.btn {
    margin: 10px;
}