body {
    margin-left: 15%;
    margin-right: 15%;
}

.jumbotron {
    height: 15%;
    padding: 20px;
    text-align: center;
}

.mainTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

.question {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

.card2 {
    margin-top: 35px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.row {
    text-align: center;
}

.btn {
    margin: 10px;
    min-width: 140px;
    border-color:  rgb(194, 194, 194);
    background-color: rgb(216, 216, 216);
    color: black;
}

.topBar {
    margin-top: 30px;
}

.display-4 {
    padding-top: 20px;
    font-size: 46px;
}